.spin-table {
	background-image: url(images/Covers.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}
.spin-table > div {
	margin-left: 50%;
	transform: translateX(-50%);
}
.spin-table > div {
	text-align: center;
	display: inline-block;
}