.spin-table {
	height: 100%;
	background: #000;
	background-image: url(images/Covers.jpg);
	background-position: center center;
}
.spin-table > div {
	margin-left: 50%;
	transform: translateX(-50%);
}
.spin-table > div {
	text-align: center;
	display: inline-block;
}